
@{
    ViewData["Title"] = "CreateServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateServices</h1>

@model ServicesEntity

<form method="post">
    <div class="container">
        <div>
            <label>Number</label>
            <input type="text" class="form-control" asp-for="Number" placeholder="URL">

        </div>
        <div>
            <label>Text</label>
            <input type="text" class="form-control" asp-for="Text" placeholder="URL">

        </div>
        <div>
            <label>Profession</label>
            <input type="text" class="form-control" asp-for="Profession" placeholder="URL">

        </div>
        <div>
            <label>LogoUrl</label>
            <input type="text" class="form-control" asp-for="LogoUrl" placeholder="URL">

        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>