<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
@{
    ViewData["Title"] = "DeleteAbout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DeleteAbout</h1>

@model BlogEntity
<form>
    <div class="container">
        <div>
            <label>Image</label>
            <input type="text" class="form-control" asp-for="ImageUrl" 
            
            
            
            >

        </div>
        <div>
            <label>Name</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Text">

        </div>
        <div>
            <label>Data</label>
            <input type="text" class="form-control" asp-for="Data" placeholder="Text">

        </div>
        <div>
            <label>Description</label>
            <input type="text" class="form-control" asp-for="Description" placeholder="Text">

        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>