
@{
    ViewData["Title"] = "EditEducation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EducationEntity
<h1>EditEducation</h1>


<form method="post">
    <div class="container">
        <div>
            <label>University</label>
            <input type="text" class="form-control" asp-for="University" placeholder="URL">

        </div>
        <div>
            <label>Degree</label>
            <input type="text" class="form-control" asp-for="Degree" placeholder="URL">

        </div>
        <div>
            <label>Years</label>
            <input type="text" class="form-control" asp-for="Years" placeholder="URL">

        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>