
@{
    ViewData["Title"] = "EditYhp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model YHP
<h1>EditYhp</h1>

<form method="post">
    <div class="container">
        <div>
            <label>Years</label>
            <input type="text" class="form-control" asp-for="Years">

        </div>
        <div>
            <label>Hours</label>
            <input type="text" class="form-control" asp-for="Hours" placeholder="Text">

        </div>
        <div>
            <label>Projects</label>
            <input type="text" class="form-control" asp-for="Project" placeholder="Text">

        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>