@using Portfolio.ViewModels
@model PortfolioViewModel

<div class="section-box mt-4" id="clients">
    <h6 style="
									font-family: Permanent Marker, cursive;
									font-weight: 400;
									font-style: normal;
                                "
        class="title-heading mb-4"
        data-backdrop-text="Clients">
        My Awesome Clients
    </h6>
    <div class="swiper clients-swiper">
        <div class="swiper-wrapper">
            <!-- Client box 1 -->
            <div class="swiper-slide client-box">
                <a href="#">
                    <img src="~/images/client-1-light.png" alt="" />
                </a>
            </div>
            <!-- Client box 2 -->
            <div class="swiper-slide client-box">
                <a href="#">
                    <img src="~/images/client-2-light.png" alt="" />
                </a>
            </div>
            <!-- Client box 3 -->
            <div class="swiper-slide client-box">
                <a href="#">
                    <img src="~/images/client-3-light.png" alt="" />
                </a>
            </div>
            <!-- Client box 4 -->
            <div class="swiper-slide client-box">
                <a href="#">
                    <img src="~/images/client-4-light.png" alt="" />
                </a>
            </div>
            <!-- Client box 5 -->
            <div class="swiper-slide client-box">
                <a href="#">
                    <img src="~/images/client-5-light.png" alt="" />
                </a>
            </div>
            <!-- Client box 6 -->
            <div class="swiper-slide client-box">
                <a href="#">
                    <img src="~/images/client-6-light.png" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end section-box -->