@using Portfolio.ViewModels
@model PortfolioViewModel
<div class="section-box mt-4" id="resume">
    <div class="row">
        <div class="col-12 col-md-10 col-xl-8">
            <h6 style="
											font-family: Permanent Marker, cursive;
											font-weight: 400;
											font-style: normal;
                                        "
                class="title-heading mb-3"
                data-backdrop-text="Resume">
                Resume
            </h6>
            <h1 style="
											font-family: Rubik Doodle Shadow, system-ui;
											font-weight: 400;
											font-style: normal;
                                        ">
                Education & Experience
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore
            </p>
        </div>
    </div>
    <div class="row g-4 g-lg-5 mt-0">
        <div class="col-12 col-xl-6">
            <div class="resume-wrapper">
                <div class="icon-2xl mb-3">
                    <i class="bi bi-mortarboard line-height-100"></i>
                </div>
                <!-- Education box 1 -->
                <div class="resume-box">
                    <span class="resume-date">2020 - 2023</span>
                    <h5 class="fw-medium">Bachelor Degree of Business</h5>
                    <span>University of Business</span>
                </div>
                <!-- Education box 2 -->
                <div class="resume-box">
                    <span class="resume-date">2018 - 2020</span>
                    <h5 class="fw-medium">Master Degree of Design</h5>
                    <span>University of IT</span>
                </div>
                <!-- Education box 3 -->
                <div class="resume-box">
                    <span class="resume-date">2014 - 2018</span>
                    <h5 class="fw-medium">Bachelor Degree of Design</h5>
                    <span> University of Design</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="resume-wrapper">
                <div class="icon-2xl mb-3">
                    <i class="bi bi-briefcase line-height-100"></i>
                </div>
                <!-- Employment box 1 -->
                <div class="resume-box">
                    <span class="resume-date">2020 - Present</span>
                    <h5 class="fw-medium">Director of Operations</h5>
                    <span> FlaTheme</span>
                </div>
                <!-- Employment box 2 -->
                <div class="resume-box">
                    <span class="resume-date">2018 - 2020</span>
                    <h5 class="fw-medium">Senior Designer</h5>
                    <span> FlaTheme</span>
                </div>
                <!-- Employment box 3 -->
                <div class="resume-box">
                    <span class="resume-date">2015 - 2018</span>
                    <h5 class="fw-medium">UI & UX Designer</h5>
                    <span> FlaTheme</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- end section-box -->