@using Portfolio.ViewModels
@model PortfolioViewModel

<div class="section-box mt-4" id="testimonial">
    <div class="row align-items-center">
        <div class="col-6">
            <h6 style="
											font-family: Permanent Marker, cursive;
											font-weight: 400;
											font-style: normal;
                                        "
                class="title-heading mb-0"
                data-backdrop-text="Testimonial">
                What People Say
            </h6>
        </div>
        <div class="col-6 text-end">
            <!-- Slider Navigation -->
            <div class="button-circle button-circle-sm button-circle-outline swiper-custom-prev">
                <i class="bi bi-arrow-left"></i>
            </div>
            <div class="button-circle button-circle-sm button-circle-outline swiper-custom-next">
                <i class="bi bi-arrow-right"></i>
            </div>
            <!-- end Slider Navigation -->
        </div>
    </div>
    <!-- end row -->
    <div class="swiper testimonial-swiper mt-4">
        <div class="swiper-wrapper">
            <!-- Swiper item 1 -->
            <div class="swiper-slide">
                <div class="testimonial-box">
                    <div class="d-block text-yellow mb-3">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p style="
													font-family: Baskervville SC, serif;
													font-weight: 400;
													font-style: normal;
                                                ">
                        Abdulla provided excellent service and delivered our
                        project on time. His skills in web development are
                        top-notch. Highly recommend!
                    </p>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <div class="d-inline-block me-3">
                        <img class="img-mask-avatar-sm"
                             src="~/images/Снимок экрана (81).png"
                             alt=""
                             data-rjs="2" />
                    </div>
                    <div class="d-inline-block">
                        <h5 class="fw-medium m-0 line-height-140">
                            Ayxan Muslumov
                        </h5>
                        <span class="font-small fw-normal">Marketing Specialist</span>
                    </div>
                </div>
            </div>
            <!-- Swiper item 2 -->
            <div class="swiper-slide">
                <div class="testimonial-box">
                    <div class="d-block text-yellow mb-3">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p style="
													font-family: Baskervville SC, serif;
													font-weight: 400;
													font-style: normal;
                                                ">
                        We were impressed by Abdulla's attention to detail and
                        creativity. He exceeded our expectations and brought our
                        vision to life. Great experience!
                    </p>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <div class="d-inline-block me-3">
                        <img class="img-mask-avatar-sm"
                             src="~/images/testimonial-2.jpg"
                             alt=""
                             data-rjs="2" />
                    </div>
                    <div class="d-inline-block">
                        <h5 class="fw-medium m-0 line-height-140">
                            Sandra Radford
                        </h5>
                        <span class="font-small fw-normal">Project Manager</span>
                    </div>
                </div>
            </div>
            <!-- Swiper item 3 -->
            <div class="swiper-slide">
                <div class="testimonial-box">
                    <div class="d-block text-yellow mb-3">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p style="
													font-family: Baskervville SC, serif;
													font-weight: 400;
													font-style: normal;
                                                ">
                        Working with Abdulla was a pleasure. He was
                        communicative, professional, and delivered high-quality
                        work. We look forward to future collaborations.
                    </p>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <div class="d-inline-block me-3">
                        <img class="img-mask-avatar-sm"
                             src="~/images/testimonial-3.jpg"
                             alt=""
                             data-rjs="2" />
                    </div>
                    <div class="d-inline-block">
                        <h5 class="fw-medium m-0 line-height-140">
                            Donald Ang
                        </h5>
                        <span class="font-small fw-normal">Developer</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end swiper-wrapper -->
    </div>
    <!-- end swiper -->
</div>
<!-- end section-box -->