@using Portfolio.ViewModels
@model PortfolioViewModel

<div class="toggle-menu">
    <!-- Close button -->
    <button class="toggle-close">
        <i class="bi bi-x"></i>
    </button>
    <!-- end Close button -->
    <h6 class="mono-heading fw-normal mb-2">Phone:</h6>
    <h4 class="fw-medium">+(976) 12 34 9999</h4>
    <div class="mt-4">
        <h6 class="mono-heading fw-normal mb-2">Email:</h6>
        <h4 class="fw-medium">flatheme@gmail.com</h4>
        <ul class="list-inline-sm mt-3">
            <li>
                <a class="button-circle button-circle-sm" href="#">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
            <li>
                <a class="button-circle button-circle-sm" href="#">
                    <i class="bi bi-twitter"></i>
                </a>
            </li>
            <li>
                <a class="button-circle button-circle-sm" href="#">
                    <i class="bi bi-youtube"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="mt-4 mt-lg-5">
        <ul class="list-circle">
            <li>
                <a class="mono-heading link-decoration" href="index-2.html">Light Version</a>
            </li>
            <li>
                <a class="mono-heading link-decoration" href="elements.html">Elements</a>
            </li>
            <li>
                <a class="mono-heading link-decoration"
                   href="https://1.envato.market/JzRka7"
                   target="_blank">Buy Gray</a>
            </li>
        </ul>
    </div>
    <div class="tm-bottom">
        <p>&copy; 2023 FlaTheme.</p>
    </div>
</div>